/* font-family: 'Playfair Display', serif;
font-family: 'Roboto Mono', monospace; */

h1 {
  font-family: "Playfair Display", serif;
  font-size: 96px;
}

h3 {
  font-family: "Playfair Display", serif;
  text-align: center;
  font-size: 40px;
}

h4 {
  font-family: "Playfair Display", serif;
  text-align: center;
  font-size: 30px;
}

img {
  width: 300px;
  text-align: center;
}

.hero {
  background-color: #f9f7fe;
  padding: 230px 20px;
  text-align: left;
}

.hero h2 {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 24px;
  margin: 0;
}

.icons {
  font-size: 50px;
  padding-left: 50px;
  padding-top: 30px;
  padding-right: 50px;
  padding-bottom: 10px;
  opacity: 0.9;
}

.skill {
  text-align: center;
  font-family: "Roboto Mono", monospace;
}

.projects {
  text-align: center;
}

.description {
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
}

.btn-branding-outline {
  color: #6c63ff;
  border: 1px solid #6c63ff;
  border-radius: 4px;
  font-size: 14px;
  line-height: 27px;
  padding: 10px 25px;
}
