/* font-family: 'Playfair Display', serif;
font-family: 'Roboto Mono', monospace; */

h1 {
  font-family: "Playfair Display", serif;
  font-size: 96px;
}

h3 {
  font-family: "Playfair Display", serif;
  text-align: center;
  font-size: 40px;
}

h4 {
  font-family: "Playfair Display", serif;
  text-align: center;
  font-size: 30px;
}

img {
  width: 300px;
  text-align: center;
}

p {
  font-family: "Roboto Mono", monospace;
}

a {
  color: black;
}

.hero {
  background-color: #f3e9e3;
  padding: 230px 20px;
  text-align: left;
}

.hero h2 {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 24px;
  margin: 0;
}

.icons {
  font-size: 50px;
  padding-left: 50px;
  padding-top: 30px;
  padding-right: 50px;
  padding-bottom: 10px;
  opacity: 0.9;
}

.skill {
  text-align: center;
  font-family: "Roboto Mono", monospace;
}

.projects {
  text-align: center;
}

.description {
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
}

.btn-branding-outline {
  color: #6c63ff;
  border: 1px solid #6c63ff;
  border-radius: 4px;
  font-size: 14px;
  line-height: 27px;
  padding: 10px 25px;
}

.btn:hover {
  background-color: #6c63ff;
}

.background {
  background-color: #f3e9e3;
}

.about-page {
  padding-top: 150px;
  text-align: center;
}

.about-page h1 {
  font-size: 60px;
}

.navbar-brand {
  margin-left: 20px;
  font-family: "Playfair Display", serif;
}

.work {
  padding-top: 100px;
}

.work h1 {
  font-size: 60px;
  text-align: center;
}

.venus {
  width: 600px;
}

.weather {
  width: 1900px;
}

.contact {
  padding: 150px 20px;
}

.contact h1 {
  font-size: 60px;
  text-align: center;
}

.contact-icons {
  font-size: 50px;
  padding-left: 20px;
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 10px;
  opacity: 0.9;
}

@media (max-width: 900px) {
  .hero {
    padding: 190px 20px;
    text-align: center;
  }

  h1 {
    font-size: 60px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 25px;
  }

  p {
    font-size: 15px;
  }

  .description {
    font-size: 12px;
  }

  .hero h2 {
    font-size: 20px;
  }

  .icons {
    font-size: 30px;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
  }

  .skill {
    font-size: 12px;
  }

  .btn-branding-outline {
    padding: 5px 20px;
  }

  .about-page h1 {
    font-size: 50px;
  }

  .navbar-brand {
    margin-left: 20px;
  }

  .nav-link {
    text-align: right;
  }

  .work {
    padding-top: 60px;
  }

  .work h1 {
    font-size: 30px;
  }

  .contact {
    padding-top: 60px;
  }

  .contact h1 {
    font-size: 30px;
  }

  .contact-icons {
    font-size: 30px;
    padding-left: 25px;
    padding-top: 20px;
    padding-right: 25px;
    padding-bottom: 10px;
  }

  .contact-link {
    font-size: 12px;
  }
}
