/* font-family: 'Playfair Display', serif;
font-family: 'Roboto Mono', monospace; */

h1 {
  font-family: "Playfair Display", serif;
}

h2 {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
}
